<!DOCTYPE html>
<html lang="en"
      xmlns:th='http://www.thymeleaf.org'
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <title>Tech Shop</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/reset-css.css"/>
</head>
<body>
<header>
    <nav>
        <div class="links">
            <ul>
                <li>
                    <a th:href="@{/}">Home</a>
                </li>

                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/user}">User</a>
                </li>

                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/shop}">Shop</a>
                </li>

                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/cart}">Cart</a>
                </li>

                <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                    <a class="dropdown-toggle" href="#" id="adminDropdown" role="button">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adminDropdown">
                        <a class="dropdown-item" th:href="@{/viewOrders}">Order Review</a>
                        <a class="dropdown-item" th:href="@{/add}">Add Products and Parts</a>
                        <a class="dropdown-item" th:href="@{/view/parts}">View Parts</a>
                    </div>
                </li>

                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">Login</a>
                </li>

                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/register}">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<footer class="footer bg-transparent py-2">
    <div class="container-fluid text-center">
        <div class="footer-background footer-text fixed-bottom">
            Bottom Stuff
        </div>
    </div>
</footer>
</body>
</html>