<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Tech Shop</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/reset-css.css"/>
</head>
<body>
<header>
    <nav>
        <div class="links">
            <ul>
                <li>
                    <a th:href="@{/}" th:text="#{nav_bar_home}">Home</a>
                </li>

                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/user(userId=${session.userId})}" th:text="#{nav_bar_user}">User</a>
                </li>

                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/shop}" th:text="#{nav_bar_shop}">Shop</a>
                </li>

                <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                    <a class="dropdown-toggle" href="#" id="adminDropdown" role="button" th:text="#{nav_bar_admin}">Admin</a>
                    <div class="dropdown-menu" aria-labelledby="adminDropdown">
                        <a class="dropdown-item" th:href="@{/view/monitors}" th:text="#{nav_bar_order_review}">View Out-of-Stock Products</a>
                        <a class="dropdown-item" th:href="@{/add}" th:text="#{nav_bar_add_products}">Add Products and Parts</a>
                        <a class="dropdown-item" th:href="@{/view/parts}" th:text="#{nav_bar_view_parts}">View Parts</a>
                    </div>
                </li>

                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" th:text="#{nav_bar_login}">Login</a>
                </li>

                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/register}" th:text="#{nav_bar_register}">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-primary" th:text="#{nav_bar_logout}">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<footer class="footer bg-transparent py-2">
    <div class="container-fluid text-center">
    </div>
</footer>
</body>
</html>