body, html {
    background-image: url('/images/background.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav .links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .links ul li {
    flex: 1;
    text-align: center;
}

nav .links ul li a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

nav .links ul li a:hover,
nav .links ul li a.active {
    background-color: #0056b3;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    text-align: center;
}

.text-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.text-container h1 {
    font-size: 4em;
    color: #fff;
}

.text-container h1 a {
    text-decoration: none;
    color: inherit;
}

.main-add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.add-box {
    text-align: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

.add-box h2 {
    width: 100%;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.add-button:hover {
    background-color: #0056b3;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}


.login {
    width: 100%;
    max-width: 400px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.05);
}

.index-text-box-welcome {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
}

.index-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.index-text-box {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    max-width: 800px;
}

.index-text-box a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    background: transparent;
    box-shadow: none;
    border: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    white-space: nowrap;
    background-color: #f8f9fa;
}

.dropdown-menu a:hover {
    background-color: #e9ecef;
}

.dropdown-menu .dropdown-item {
    border: none;
    margin: 10px 0px;
    padding: 10px;
}

.dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}