<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head}"></head>

<body>
<header th:replace="~{fragments/common :: nav}"></header>

<main class="main-add">
    <div class="add-box">
        <h2 th:text="#{add_product_title}">Add a product to the shop:</h2>
        <div class="button-container">
            <a th:href="@{/add/add-gpu}"
               class="add-button" th:text="#{add_gpu_button}">Add GPU</a>
            <a th:href="@{/add/add-cpu}"
               class="add-button" th:text="#{add_cpu_button}">Add CPU</a>
            <a th:href="@{/add/add-pc}"
               class="add-button" th:text="#{add_pc_button}">Add PC</a>
            <a th:href="@{/add/add-ram}"
               class="add-button" th:text="#{add_ram_button}">Add RAM</a>
            <a th:href="@{/add/add-memory}"
               class="add-button" th:text="#{add_memory_button}">Add Memory</a>
            <a th:href="@{/add/add-monitor}"
               class="add-button" th:text="#{add_monitor_button}">Add Monitor</a>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/common :: footer}"></footer>
</body>

</html>