<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head}"></head>

<body>
<header th:replace="~{fragments/common :: nav}"></header>

<main class="main-add">
    <div class="add-box">
        <h2>Add a GPU to the shop:</h2>
        <div class="form-container">
            <form th:action="@{/add/add-gpuEntity}" method="post" th:object="${gpuData}">
                <div class="form-group">
                    <label for="name" class="h3 mb-2">GPU Name</label>
                    <input type="text" class="form-control" id="name" name="name" th:field="*{name}" required/>
                </div>
                <div class="form-group">
                    <label for="gpuRam" class="h3 mb-2">GPU RAM (GB)</label>
                    <input type="number" class="form-control" id="gpuRam" name="gpuRam" th:field="*{gpuRam}" min="1" required/>
                </div>
                <div class="button-holder d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Add GPU</button>
                </div>
            </form>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/common :: footer}"></footer>
</body>

</html>