<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head}"></head>

<body>
<header th:replace="~{fragments/common :: nav}"></header>

<main class="main-content">
    <div class="addition">
        <h1 class="mb-4">Add GPU</h1>
        <form th:action="@{/add/add-gpu}" th:object="${gpuData}" th:method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" name="name" class="form-control" th:field="*{name}" required
                       th:errorclass="'is-invalid text-danger'">
                <small class="invalid-feedback danger">Name error message</small>
            </div>
            <div class="mb-3">
                <label for="ram" class="form-label">RAM (in GB):</label>
                <input type="number" id="ram" name="ram" class="form-control" th:field="*{gpuRam}" min="1" required
                       th:errorclass="'is-invalid text-danger'">
                <small class="invalid-feedback danger">Size error message</small>
            </div>
            <button type="submit" class="btn btn-primary">Add GPU</button>
        </form>
    </div>
</main>
<footer th:replace="~{fragments/common :: footer}"></footer>
</body>

</html>