<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head}"></head>

<body>
<header th:replace="~{fragments/common :: nav}"></header>

<main class="main-add">
    <div class="add-box">
        <h2>Add Memory to the Shop:</h2>
        <form th:action="@{/add/add-memory}" th:object="${memoryData}" method="post">
            <div class="form-group">
                <label for="name" class="h3 mb-2">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" required/>
            </div>
            <div class="form-group">
                <label for="type" class="h3 mb-2">Type</label>
                <select class="form-control" id="type" th:field="*{type}" required>
                    <option th:each="type : ${memoryTypes}" th:value="${type}" th:text="${type}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="size" class="h3 mb-2">Size (GB)</label>
                <input type="number" class="form-control" id="size" th:field="*{size}" required/>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Add Memory</button>
            </div>
        </form>
    </div>
</main>

<footer th:replace="~{fragments/common :: footer}"></footer>
</body>
</html>