<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/common :: head}"></head>

<body>
<header th:replace="~{fragments/common :: nav}"></header>

<main class="main-add">
    <div class="add-box">
        <h2 th:text="#{edit_monitor_title}">Edit Monitor Details:</h2>
        <div class="form-container">
            <form th:action="@{/edit/monitor/{id}(id=${monitorData.id})}" method="post" th:object="${monitorData}">
                <div class="form-group">
                    <label for="name" class="h3 mb-2" th:text="#{monitor_name_label}">Monitor Name</label>
                    <input type="text" class="form-control" id="name" name="name" th:field="*{name}" required />
                </div>
                <div class="form-group">
                    <label for="inches" class="h3 mb-2" th:text="#{monitor_inches_label}">Monitor Size (Inches)</label>
                    <input type="number" class="form-control" id="inches" name="inches" th:field="*{inches}" min="1" required />
                </div>
                <div class="form-group">
                    <label for="description" class="h3 mb-2" th:text="#{monitor_description_label}">Description</label>
                    <textarea class="form-control" id="description" name="description" th:field="*{description}" rows="3"></textarea>
                </div>
                <div class="button-holder d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" th:text="#{update_monitor_button}">Update Monitor</button>
                </div>
            </form>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/common :: footer}"></footer>
</body>

</html>