<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head}"></head>
<body>
<header th:replace="~{fragments/common :: nav}"></header>

<main class="login-container">
    <div class="error-box">
        <h2 class="h2 mb-2" th:text="#{error_encountered}">Error encountered, we are working on it</h2>
        <div class="button-holder d-flex justify-content-center">
            <a th:href="@{/}" class="btn btn-primary" th:text="#{back_to_home_button}">Back to Home</a>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/common :: footer}"></footer>
</body>
</html>