<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/common :: head}"></head>

<body>
<header th:replace="~{fragments/common :: nav}"></header>

<main class="index-container">
    <div class="index-text-box-welcome">
        <h1 th:text="${welcomeMessage}"></h1>
    </div>
    <div class="index-content">
        <div class="index-text-box">
            <a th:href="@{/cart}" th:text="#{shopping_message}">Everything can be found here! Enjoy your shopping!</a>
        </div>
    </div>
    <form th:method="get">
        <label class="border" for="lang" th:text="#{nav_bar_language}">Language</label>
        <select id="lang" name="lang" onchange="this.form.submit()">
            <option value="en_US"
                    th:selected="${#locale.toString()} == 'en_US'">English</option>
            <option value="bg_BG"
                    th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
        </select>
    </form>
</main>

<footer th:replace="~{fragments/common :: footer}"></footer>
</body>
</html>