<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/common :: head}"></head>

<body>
<header th:replace="~{fragments/common :: nav}"></header>

<main class="index-container">
    <div class="index-text-box-welcome">
        <h1 th:text="${welcomeMessage}" class="h1"></h1>
        <form th:method="get">
            <label class="" for="lang" th:text="#{nav_bar_language}">Please choose your language: </label>
            <select id="lang" name="lang" onchange="this.form.submit()" class="custom-selector">
                <option value="en_US"
                        th:selected="${#locale.toString()} == 'en_US'">English</option>
                <option value="bg_BG"
                        th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
            </select>
        </form>
    </div>
    <div class="index-content">
        <div class="index-text-box">
            <a th:href="@{/cart}" th:text="#{shopping_message}">Everything can be found here! Enjoy your shopping!</a>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/common :: footer}"></footer>
</body>
</html>