<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head}"></head>
<body>
<header th:replace="~{fragments/common :: nav}"></header>

<main>
    <div class="container">
        <h1>PCs Available</h1>
        <div th:each="pc : ${pcs}" class="pc-card">
            <h2 th:text="${pc.name}" class="pc-title"></h2>
            <div class="pc-details">
                <div class="pc-section">
                    <p><strong>PC Type:</strong> <span th:text="${pc.pcType}"></span></p>
                </div>

                <div class="pc-section">
                    <p><strong>CPU:</strong></p>
                    <p>Name: <span th:text="${pc.cpuEntity.name}"></span></p>
                    <p>Type: <span th:text="${pc.cpuEntity.cpuType}"></span></p>
                </div>

                <div class="pc-section">
                    <p><strong>GPU:</strong></p>
                    <p>Name: <span th:text="${pc.gpuEntity.name}"></span></p>
                    <p>VRAM: <span th:text="${pc.gpuEntity.gpuRam}"></span> GB</p>
                </div>

                <div class="pc-section">
                    <p><strong>Memory:</strong></p>
                    <p>Name: <span th:text="${pc.memoryEntity.name}"></span></p>
                    <p>Memory Type: <span th:text="${pc.memoryEntity.memoryType}"></span></p>
                    <p>Size: <span th:text="${pc.memoryEntity.size}"></span> GB</p>
                </div>

                <div class="pc-section">
                    <p><strong>RAM:</strong></p>
                    <p>Name: <span th:text="${pc.ramEntity.name}"></span></p>
                    <p>Speed: <span th:text="${pc.ramEntity.type}"></span></p>
                    <p>Size: <span th:text="${pc.ramEntity.size.getSize()}"></span> GB</p>
                </div>

                <form th:action="@{/shop/buy}" method="post">
                    <input type="hidden" name="pcId" th:value="${pc.id}" />
                    <button type="submit" class="buy-button">Buy</button>
                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/common :: footer}"></footer>
</body>
</html>