<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head}"></head>

<body>
<header th:replace="~{fragments/common :: nav}"></header>

<main>
    <div class="container">
        <div class="user-box">
            <h1 th:text="#{user_details}">User Details</h1>
            <div class="user-info">
                <p><strong th:text="#{username}">Username:</strong> <span th:text="${user.username}"></span></p>
                <p><strong th:text="#{email}">Email:</strong> <span th:text="${user.email}"></span></p>
            </div>

            <form th:action="@{/user/updateUsername}" method="post">
                <input type="hidden" name="userId" th:value="${user.id}">
                <div>
                    <label th:text="#{new_username}">New Username:</label>
                    <input style="margin: 10px 0px; max-width: 20%" type="text" name="newUsername" th:value="${user.username}" required />
                </div>
                <button type="submit" class="update-button" th:text="#{update_username_button}">Update Username</button>
                <p th:if="${updateError}" th:text="${updateError}"></p>
            </form>
        </div>

        <div class="orders-box">
            <h2 th:text="#{orders}">Orders</h2>
            <table>
                <thead>
                <tr>
                    <th th:text="#{order_id}">Order ID</th>
                    <th th:text="#{name}">Name</th>
                    <th th:text="#{price}">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.name}"></td>
                    <td th:text="${order.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/common :: footer}"></footer>
</body>
</html>